@media (max-width: 700px) {

    /* header */
    header {
        padding-block: 32px;
    }

    .burger_icon {
        display: block;
    }

    .header_nav,
    .action_btn {
        display: none;
    }
}

@media (max-width: 570px) {

    /* cover section */
    .cover_section {
        padding-inline: 24px;
    }


}